mixin buildDrones(parentArt, parentHead, hTitle, drones, childrenArt, childrenHead, childrenLabel, labelText, countries, typeD, rad, charArt, charHead, techChars, propsArt, propsHead, propsPar)
  - var parent = [parentArt, parentHead]
  - var parentValue = hTitle
  - var drones = drones
  - var children = [childrenArt,childrenHead,childrenLabel]
  - var labelValue = labelText
  - var countries = countries
  - var tp = typeD
  - var radio = rad
  - var chars = [charArt, charHead]
  - var charsHeadValue = techChars
  - var props = [propsArt, propsHead, propsPar]
  - var namesValues = common['characteristics']['values']['namesValues']
  - var propNames = common['characteristics']['classes']['propNames']
  - var propValues = common['characteristics']['values']['propValues']