*
  box-sizing border-box
/*==============================
=            Colors            =
==============================*/

scale-gray = #ededed
light-grey = #d8ddef
dark-slate-gray = #2f4f4f rgba(49, 74, 74, .4)
grayish-cyan = #bec6c8

grayish-blue = #a3aeba rgba(163,174,186, .9)
dark-grayish-gray = #778899 rgba(119,136,153, .5)

white-whisper = rgba(255, 255, 255, .3)

/* Toddler colors */
gainsboro = #dcdcdc
forest-wolve = #dbd7d2 rgba(219,215,210, 0.5)
shad = rgba(47, 47, 47, .1)

/* Toddler text colors */
light-telegram = #d0d0d0, rgba(208, 208, 208, 0.3)
telegram = #5b5b5b
blackberry-pearl = #6c6874 rgba(108,104,116, 0.5)

/* Loading scripts colors */
shamrock = #21d19f #10634c #1bb166
light-green = #90ee90 #1ec773 rgba(144, 238, 144, 0.4)
pastel-green = #64e765

outer-space = #414a4c rgba(65, 74, 76, .1)

brill-blue = #336f94 #1f445b
mint = #4988a0 rgba(73,136,160, .1)

corn-flower = rgba(154, 206, 235, .3) rgba(154,206,235, 1)

air-force-blue = #5d8aa8;

blue-black = #070707 rgba(7, 7, 7, .4)


red-purple = #23001e

/*=====  End of Colors  ======*/

/*==========================================
=            Additional-control            =
==========================================*/

baseline = 18px
tm = .3s

clearfix()
  &:after
    display block
    content ''
    clear both

#container
  margin-top 0 !important
  position relative
  clearfix()

/*=====  End of Additional-control  ======*/

/*========================================
=            Workspace blocks            =
========================================*/

#dynamic-map, #static-map, #controls, #polygon
  position absolute
  height 600px
  width 1300px
  left 50%
  margin-left -650px
  top 0

#dynamic-map
  z-index 2

#static-map
  z-index 1

#polygon
  display block
  z-index 1


/*=====  End of Workspace blocks  ======*/

/*========================================
=            Stylus functions            =
========================================*/

// Include fonts
//  @param family - the font and the way where it is situated
//  @param style - the font style
//  @param weight - the weight of font
infont(family, style, weight)
  @font-face
    font-family family
    src local('Ҧѽ')
    src url('./fonts/' + family + '/' + family + '.ttf')
    src url('./fonts/' + family + '/' + family + '.woff')
    font-style style
    font-weight weight

infont(crimsontext, normal, 400)

// Set font-back
cbfont(ff1, ff2 = null, ff3 = null)
  if (ff3)
    font-family ff1, ff2, ff3
  else if (ff2)
    font-family ff1, ff2
  else if (ff1)
    font-family ff1

// Set up font styles
//  @param al - text aliging (left, center, right)
//  @param size - font size (in em)
//  @param dec - text decoration (bold, italic, underline)
//  @param ln - line height
font-style(al, size = null, dec = null, ln = null)
  font-size size
  text-align al
  text-decoration dec
  line-height ln

// Clear all styles
nostyle()
  background none
  border none

// Add shadow to element (inset or not - depends on your choice).
//  @param type - inset or out (set 0 if out)
//  @param x, y - coordinates to add shadow
//  @param br, sr - blur radius and spread radius
//  @param rgba - color
shd(type, x, y, br, sr, rgba)
  if type
    box-shadow type x y br sr rgba
  else
    box-shadow x y br sr rgba

// Set element dimensions
size(d)
  if d[0] && d[1]
    width d[0]
    height d[1]
  else if !d[1]
    height d[0]
    width d[0]

// Align vertically elements.
//  @param d takes an array (20px 30px). Where 20px is width amd 30px is height.
//  @param p takes position value is necessary to align. First element in array
alvert(d, p)
  position absolute
  size(d)
  // left: value [or] right: value
  if p[0]
    {p[0]} 50%
    if d[1] && d[0]
      // margin-left: value [or] margin-right: value
      margin-{p[0]} -(d[1]/2)
      // if width is the same as height
    else
      margin-{p[0]} -(d[0]/2)
  // top: value [or] bottom: value
  if p[1]
    {p[1]} 50%
    // margin-top: value [or] margin-right: value
    if d[1]
      margin-{p[1]} -(d[1]/2)
    else
      margin-{p[1]} -(d[0]/2)

borders(b, t, c)
  if (b[0])
    border-top b[0] t c
  if (b[1])
    border-right b[1] t c
  if (b[2])
    border-left b[2] t c
  if (b[3])
    border-bottom b[3] t c

/*=====  End for Stylus functions  ======*/

/* Including fonts */
maintext()
  cbfont(crimsontext, georgia, tahoma)


/*=====================================
=            Control panel            =
=====================================*/
#controls
  background white
  opacity .4
  z-index 1

.fix-map
  display block
  height baseline*3
  nostyle()
  shd(0, 1px, 5px, 50px, 2px, rgba(0, 0, 0, 1))
  background white

#control-additional
  position relative
  background linear-gradient(-20deg, rgba(230,230,230,1) 0%, rgba(199,199,199,0.6) 44%, rgba(125,125,125,0.08) 100%);
  border-radius 6px
  // height baseline*14
  padding baseline

/*----------  Planes and targets articles  ----------*/
.targets, .planes-section
  padding 0 0 baseline 0

/*----------  Planes and targets sections  ----------*/
// #planes, #targets
//   border 1px solid forest-wolve[1]

/*----------  Sections main titles  ----------*/
.main-titles, .drones-main-head
  h1
    font-style(center, 1.3em, normal, 1.3em)
    margin 5px 0 0px 0 // Mat.round(baseline/4);
    padding 3px // baseline/6
    border-bottom 1px solid forest-wolve[0]
    color blackberry-pearl[0]
    maintext()

.plane-title, .targets-title, .defence-title
  font-style(center, .8em, normal, 1.2em)
  cursor pointer
  color blackberry-pearl[0]
  maintext()

.amount-slider
  position relative

.toddler-slider
  cursor default
  height baseline*2
  position relative
  z-index 0

.toddler-line
  display block
  alvert(100% 2px, top)
  border-radius baseline
  background forest-wolve[0]
  z-index 1

.toddler
  cursor pointer
  alvert(20px, top)
  display block
  content ''
  background white
  shd(0, 0px, 0px, 5px, 0px, shad)
  border 1px solid gainsboro
  border-radius 50%
  transition transform .3s
  transform translateX(0)
  z-index 5

.amount
  alvert(baseline*2, top)
  font-style(center, 1em, italic, baseline*1.7)
  color blackberry-pearl[0]
  line-height baseline*2

.targets-amount, .planes-amount, .defence-amount
  alvert(baseline*2, top left)
  top 78%
  cursor pointer
  font-style(center, 1em, italic, baseline*1.7)
  color blackberry-pearl[0]
  line-height baseline*2
  border-radius 50%
  border baseline/6 solid blackberry-pearl[0]

/*====================================
=            Icons styles            =
====================================*/

svg
  display none

.takeoff
  size(3em)

.targets-icons, .svg-blocks
  height baseline*7

.load-scripts-title
  height baseline*2

.load-icon
  height baseline*2.5

// #load
  // fill currentColor

.load-icon
  &:hover
    transform translateY(-9px) scale(1.2)

.load-in-use
  fill scale-gray
  stroke brill-blue[0]
  stroke-width 7px
  color brill-blue[0]
  &:hover
    stroke white
    color white
    fill brill-blue[0]
    stroke-width 9px
    stroke-milterlimit 1px

/*=====  End of Icons styles  ======*/

/*=======================================
=            Loading scripts            =
=======================================*/

.algorithms
  cursor pointer
  height baseline*16
  overflow-y scroll
  border 2px solid brill-blue[0]
  border-radius 3px // baseline/6
  shd(inset, 0px, 0px, 10px, 0px, light-telegram[1])
  article
    &:last-child
      border-bottom none
    &:first-child
      border 1px solid mint[1]

#load-form
  &:hover
    margin-top -3px // -baseline/6
    shd(0, 2px, 2px, 15px, 0px, blue-black[1])

.load-title
  font-style(center, 1.3em, normal, baseline*2.5)
  color blue-black
  font-weight 500

/*----------  Hide input[type="file"]  ----------*/
#upload-file
  display none

.input-file-trigger
  display block
  cursor pointer
  line-height baseline*2.5
  position relative
  top -18px // -baseline

.algorithm-main-title, .dotes-coordinates-main-title, .base-main-title, .main-title-coordinates, .trajectory-main-title, .area-main-title
  font-style(center, .7em, normal, baseline*2)
  font-weight 400
  color blackberry-pearl[0]

.dotes-coordinates-main-title, .base-main-title, .area-main-title
  font-size .9em

.ready-algorithm
  font-style(left, .7em, normal, baseline*3)
  // color blackberry-pearl[1]
  color brill-blue[0]
  margin-right 0px !important
  &:hover
    background forest-wolve[1]

.algorithm-script
  cursor pointer

.hidden
  display none

article[hidden="true"]
  display none

#active-algorithm
  position relative
  background mint[1]
  // border 1px solid transparent
  .state
    size(baseline)
    alvert(baseline/2, top)
    background brill-blue[0]
    border-radius 50%

.choosen-file
  position relative
  top -9px //-baseline/2
  height baseline*2

.chose
  // background shamrock[0]
  color blue-black[1]

.file-name
  border-radius 3px //baseline/6
  color blue-black[1]
  transition opacity tm
  font-style(center, .9em, normal, baseline*2)

/*=====  End of Loading scripts  ======*/

/*===================================
=            Place based            =
===================================*/

.main-coordinates, #drones-subsection-colors
  // shd(inset, 0px, 0px, 10px, 0px, light-telegram[1])
  height baseline*16
  padding baseline
  padding-left baseline*2
  border 2px solid brill-blue[0]
  border-radius 3px // baseline/6
  overflow-y scroll

.coords-headers, .dotes-coords-headers, .area-coords-headers, .trajectory-coords-headers
  color blackberry-pearl[0]
  text-transform lowercase
  border 1px solid transparent
  font-style(center, .9em, normal, baseline)

.base-coords, .dotes-coords, .trajectory-coords, .area-coords
  position relative

.coords, .dotes-coords-row, .area-coords-row, .trajectory-coords-row
  cursor pointer
  color brill-blue[0]
  line-height baseline*2
  // border 2px solid brill-blue[0]
  border-radius 3px // baseline/6
  shd(inset, 0px, 0px, 10px, 0px, light-telegram[1])

.base-coords-table
  text-align center

.dotes-coords-table
  text-align center
  overflow-y scroll
  height 40px //baseline*2.2222
  tr
    &:nth-of-type(n+2)
      border-top none

.trajectory-coords-table
  text-align center
  overflow-y scroll
  height 78px
  tr
    &:nth-of-type(n+2)
      border-top none

.area-coords-table
  text-align center
  overflow-y scroll
  height 154px // baseline*8.5
  tr
    &:nth-of-type(n+2)
      border-top none

.targets-coords-table
  td
    font-style(center, 1em, normal, baseline)

#set-base, #set-dotes, #set-trajectory, #set-area
  display none

.set-place, .set-dotes, .set-trajectory, .set-area
  size(48px)
  cursor pointer
  display block
  border-radius 50%
  border 3px solid brill-blue[0]
  padding 0 9px 0 9px // baseline/2
  shd(0, 0px, 0px, 10px, 0px, light-telegram[1])
  font-style(center, .9em, normal, 44px)
  color brill-blue[0]
  // background scale-gray
  &:hover
    // background white
    shd(0, 0px, 1px, 3px, 0px, blue-black[1])
  &:focus
    outline none
  &:active
    // background brill-blue[0]
    opacity .5
    shd(0, 0px, 0px, 0px, 0px, transparent)

.set-targets
  line-height 48px

.set-place, .set-dotes, .set-trajectory, .set-area
  position absolute
  top 25%
  left 50%
  margin-left -24px

.set-trajectory
  position absolute
  top 55%

.set-area
  position absolute
  top 75%

.not-choosen
  color telegram[0]
  opacity .5

.choosen-base
  color brill-blue[0]
  opacity .9

.aligned
  position absolute
  top 50%
  margin-top -18px // -baseline

.place-based-icon
  height baseline*2.3

.place-based-in-use
  // fill scale-gray
  color brill-blue[0]
  stroke-width 7px

// .lon-trajectory-hla, .lon-area-hla
//   border-left 2px solid brill-blue[0]

.trajectory-hla, .area-hla
  margin-left 4px // baseline/5

.separated-rows
  border-top 2px solid brill-blue[0]

.dotes-coordinates-id, .base-coordinates-id
  font-style(center, .7em, normal, null)
  font-size .9em !important
  // border-right 2px solid brill-blue[0]

.snow-close-it, .confirm-base 
  cursor pointer
  width baseline*15
  font-style(center, 1.2em, normal, baseline*2)
  padding 4px
  position absolute
  top 50%
  left 50%
  margin -18px 0 0 -125px
  border-radius 6px
  background brill-blue[0]
  border 2px solid transparent
  color white
  shd(0, 0px, 1px, 3px, 0px, brill-blue[1])
  &:hover
    background mint[1]
    border 2px solid brill-blue[0]
    color brill-blue[0]
  &:focus
    outline none
  &:active
    shd(0, 0px, 1px, 3px, 0px, forest-wolve[0])

.confirm-base
  background shamrock[0]
  color shamrock[1]
  shd(0, 0px, 1px, 3px, 0px, shamrock[1])
  &:hover
    border 2px solid shamrock[1]
    color shamrock[1]
  &:active
    shd(0, 0px, 1px, 3px, 0px, forest-wolve[0])

.snow-paragraph
  display block
  position relative
  z-index 4
  // margin baseline auto 0 auto
  padding baseline
  font-style(center, 1.3em, normal, baseline*2)
  color shamrock[2]
  background light-green[0]
  opacity .9

/*=====  End of Place based  ======*/

/*================================
=            Simulate            =
================================*/

#simulate
  background brill-blue[0]

#simulate, #switch
  cursor pointer
  dispaly block
  nostyle()
  height baseline*2
  shd(0, 0px, 1px, 3px, 0px, dark-slate-gray[1])
  font-weight 600
  &:hover
    shd(0, 0px, 1px, 7px, 0px, dark-slate-gray[1])
  &:active
    margin-top 3px // baseline/6
    shd(0, 0px, 1px, 3px, 0px, transparent)
  &:focus
    outline none

#simulate
  background brill-blue[0]
  color white

#switch
  background light-green[0]
  color shamrock[1]
  // shd(0, 0px, 1px, 3px, 0px, shamrock[1])
  // &:hover
  //   shd(0, 0px, 1px, 3px, 0px, red-purple[0])


/*=====  End of Simulate  ======*/

/*==============================
=            Drones            =
==============================*/
.drone-types
  overflow-y scroll
  overflow-x hidden
  height baseline*30
  padding-left 9px
  cursor pointer
  border 2px solid brill-blue[0]
  border-radius 3px // baseline/6
  shd(inset, 0px, 0px, 10px, 0px, light-telegram[1])

#hard-drone-1, #hard-drone-2, #hard-drone-3,
#middle-drone-1, #middle-drone-2, #middle-drone-3
#light-drone-1, #light-drone-2, #light-drone-3
  display none

#hard-drone-close-1, #hard-drone-close-2, #hard-drone-close-3,
#middle-drone-close-1, #middle-drone-close-2, #middle-drone-close-3
#light-drone-close-1, #light-drone-close-2, #light-drone-close-3
  display none

.drones
  display none

.hd-header, .md-header, .lt-header
  margin baseline/2 0 baseline/2 0
  border-bottom 1px solid grayish-cyan
  h1
    font-style(center, .9em, normal, 2em)
    color blackberry-pearl[1]
    font-weight 400

.drones-names
  cursor pointer
  display block
  font-style(center, .8em, normal, 3.1em)
  color blackberry-pearl[0]
  border 1px solid transparent
  transition visibility .3s
  &:active
    background forest-wolve[1]

.drones-main-head
  h1
    border none

.hard-drone-hide,
.middle-drone-hide,
.light-drone-hide
  display none

.hard-drone-buttons,
.middle-drone-buttons,
.light-drone-buttons
  display block
  position relative
  font-style(center, .8em, normal, 3.1em)
  color transparent
  &:after
    display block
    content '⤵'
    position absolute
    right 10%
    top 50%
    margin-top -1.1em
    transition margin-top .3s, position .3s
    font-style(center, .8em, normal, 3.1em)
    color transparent
  nostyle()

.drone-name
  cursor default
  font-style(left, 1.3em, normal, 2em)
  letter-spacing .1em
  font-weight 400
  color blackberry-pearl[1]
  padding-left 3%

.country-icons
  height 1.3em
  margin-top .65em

.usa-icon, .isr-icon, .rus-icon
  height 1.3em

.sub-drones
  border-bottom 1px solid forest-wolve[0]

.hard-drones,
.middle-drones,
.light-drones
  article
    &:last-child
      border-bottom 1px solid transparent

.sub-headers
  position relative
  margin 9px 0 9px 0 // baseline/2
  padding 9px 0 9px 0 // baseline/2
  &:hover
    .drone-name
      color brill-blue[0]
      padding-left 1%
    .drones-names
      font-style(center, 1em, normal, 2.45em)
      transition font-size .3s, line-height .3s
      border 1px solid dark-slate-gray[0]
      color dark-slate-gray[0]
      &:active
        border 1px solid brill-blue[0]
        color brill-blue[0]
    .country-icons
      margin-left 7%
    .hard-drone-buttons,
    .middle-drone-buttons,
    .light-drone-buttons
      cursor pointer
      margin-left -5%
      color dark-slate-gray[0]
      &:active
        color brill-blue[0]
        &:after
          color brill-blue[0]
      &:after
        color dark-slate-gray[0]

.chars
  max-height 0
  overflow hidden
  transition max-height .3s, background .3s, margin .3s, padding .3s

.drones-names
  &:active
    font-style(center, .8em, normal, 3.1em)

.chars-header
  h2
    font-style(center, 1.7em, normal, 2em)
    font-weight 400
    color outer-space[0]

.chars-values
  font-style(center, 1.1em, normal, 1.85em)

.common-chars-title
  h3
    cursor default
    font-style(left, .8em, normal, 2.5em)
    color outer-space[0]
    padding-left 6px //baseline/3
    // ~.chars-values
    //   font-style(left, 1.4em, normal, 1.5em)

.chars-group
  article
    &:nth-of-type(2n + 1)
      background outer-space[1]

.common-chars
  cursor zoom-in
  position relative
  z-index 0
  &:hover
    cursor zoom-out
    position relative
    transform scale(1.2)
    line-height 1.4em
    background grayish-cyan !important
    z-index 3
    // font-style(left, 1.4em, normal, 1.5em)

.hard-drone-amount,
.middle-drone-amount,
.light-drone-amount
  position absolute
  right -200px
  display block
  border 1px solid black
  font-style(center, .7em, normal, 1.4em)
  top 50%
  margin-top -1.8em
  padding 12px 0 12px 2px // baseline - 6px, 0, baseline - 6px, baseline/9
  nostyle()
  background white
  border-radius 3px
  &:focus
    outline none

.hard-drone-close-buttons,
.middle-drone-close-buttons,
.light-drone-close-buttons
  cursor pointer
  position absolute
  right -200px
  display block
  font-style(center, 2em, normal, 2.1em)
  top 50%
  margin-top -1.5em
  padding 9px 0 9px 2px // baseline/2, baseline/9
  nostyle()
  color outer-space[0]
  border-radius 3px
  opacity 0
  &:hover
    color brill-blue[0]
    text-shadow 0px 0px 5px white
  &:active
    text-shadow 0 0 0 transparent
  &:focus
    outline none
    border 1px solid transparent;

for num in 1 2 3 4 5
  #hard-drone-{num}
    &:checked
      +.sub-drones
        .sub-headers
          background light-green[2]
        .drone-name
          padding-left 1%
          color shamrock[2]
          text-shadow 0 0 1px white-whisper[0]
        .country-icons
          margin-left 7.5%
        .drones-names
          visibility hidden
        .hard-drone-amount
          right 3%
          width 30%
          border 1px solid transparent
        .hard-drone-close-buttons
          right 1%
          width 2%
          height 2%
          opacity 1

for num in 1 2 3 4 5
  #middle-drone-{num}
    &:checked
      +.sub-drones
        .sub-headers
          background light-green[2]
        .drone-name
          padding-left 1%
          color shamrock[2]
          text-shadow 0 0 1px white-whisper[0]
        .country-icons
          margin-left 7.5%
        .drones-names
          visibility hidden
        .middle-drone-amount
          right 3%
          width 30%
          border 1px solid transparent
        .middle-drone-close-buttons
          right 1%
          width 2%
          height 2%
          opacity 1

for num in 1 2 3 4 5
  #light-drone-{num}
    &:checked
      +.sub-drones
        .sub-headers
          background light-green[2]
        .drone-name
          padding-left 1%
          color shamrock[2]
          text-shadow 0 0 1px white-whisper[0]
        .country-icons
          margin-left 7.5%
        .drones-names
          visibility hidden
        .light-drone-amount
          right 3%
          width 30%
          border 1px solid transparent
        .light-drone-close-buttons
          right 1%
          width 2%
          height 2%
          opacity 1

#active
  max-height baseline*50
  padding-bottom 18px
  padding-left 11px
  margin-bottom  9px // baseline/2
  background white-whisper
/*=====  End of Drones  ======*/

/*=====================================
=            Drones colors            =
=====================================*/

#drones-colors
  display block
  padding 0 0 18px 54px // baseline 0 baseline baseline*3
  article
    margin-left 6.5%
    &:nth-of-type(5n + 1)
      margin-left 3.25%
  header
    h1
      font-style(center, 1.5em, normal, 1.5em)
      padding 3px // baseline/6

.color-header
  color outer-space[0]
  // padding 0 0 18px 0 // baseline*4

.drone-info-headers
  h2, h5
    display block
  h2
    font-style(center, 1.1em, normal, 1em)
    color outer-space[0]
  h5
    font-style(center, .7em, normal, .7em)
    padding 9px 0 3px 0 // baseline/6 0
    margin-bottom 6px
    color blackberry-pearl[1]
    border-bottom 1px solid outer-space[1]

.drone-trace
  border-radius 30%

#drones-subsection-colors
  padding-top 0
  height baseline*8.8
  overflow-y scroll

/*=====  End of Drones colors  ======*/



/*=====  End for Control panel  ======*/

#footing
  position relative
  height 600px