/*==============================
=            Colors            =
==============================*/

scale-gray = #ededed
light-grey = #d8ddef

/* Toddler colors */
gainsboro = #dcdcdc
forest-wolve = #dbd7d2 rgba(219,215,210, 0.5)
shad = rgba(47, 47, 47, .1)

/* Toddler text colors */
light-telegram = #d0d0d0
telegram = #5b5b5b
blackberry-pearl = #6c6874 rgba(108,104,116, 0.5)

/* Loading scripts colors */
shamrock = #21d19f #10634c
brill-blue = #336f94
mint = #4988a0 rgba(73,136,160, .3)
blue-black = rgba(7, 7, 7, .4)


red-purple = #23001e
/*=====  End of Colors  ======*/

/*==========================================
=            Additional-control            =
==========================================*/

baseline = 18px
tm = .3s

clearfix()
  &:after
    display block
    content ''
    clear both

#container
  position relative
  clearfix()

/*=====  End of Additional-control  ======*/

/*========================================
=            Workspace blocks            =
========================================*/

#dynamic-map, #static-map, #controls, #polygon
  position absolute
  height baseline*30
  left 0

#dynamic-map
  z-index 2

#static-map
  z-index 1

#polygon
  display block
  z-index 1


/*=====  End of Workspace blocks  ======*/

/*========================================
=            Stylus functions            =
========================================*/

// Include fonts
//  @param family - the font and the way where it is situated
//  @param style - the font style
//  @param weight - the weight of font
infont(family, style, weight)
  @font-face
    font-family family
    src local('Ҧѽ')
    src url('./fonts/' + family + '/' + family + '.ttf')
    src url('./fonts/' + family + '/' + family + '.woff')
    font-style style
    font-weight weight

infont(crimsontext, normal, 400)

// Set font-back
cbfont(ff1, ff2 = null, ff3 = null)
  if (ff3)
    font-family ff1, ff2, ff3
  else if (ff2)
    font-family ff1, ff2
  else if (ff1)
    font-family ff1

// Set up font styles
//  @param al - text aliging (left, center, right)
//  @param size - font size (in em)
//  @param dec - text decoration (bold, italic, underline)
//  @param ln - line height
font-style(al, size = null, dec = null, ln = null)
  font-size size
  text-align al
  text-decoration dec
  line-height ln

// Clear all styles
nostyle()
  background none
  border none

// Add shadow to element (inset or not - depends on your choice).
//  @param type - inset or out (set 0 if out)
//  @param x, y - coordinates to add shadow
//  @param br, sr - blur radius and spread radius
//  @param rgba - color
shd(type, x, y, br, sr, rgba)
  if type
    box-shadow type x y br sr rgba
  else
    box-shadow x y br sr rgba

// Set element dimensions
size(d)
  if d[0] && d[1]
    width d[0]
    height d[1]
  else if !d[1]
    height d[0]
    width d[0]

// Align vertically elements.
//  @param d takes an array (20px 30px). Where 20px is width amd 30px is height.
//  @param p takes position value is necessary to align. First element in array
alvert(d, p)
  position absolute
  size(d)
  // left: value [or] right: value
  if p[0]
    {p[0]} 50%
    if d[1] && d[0]
      // margin-left: value [or] margin-right: value
      margin-{p[0]} -(d[1]/2)
      // if width is the same as height
    else
      margin-{p[0]} -(d[0]/2)
  // top: value [or] bottom: value
  if p[1]
    {p[1]} 50%
    // margin-top: value [or] margin-right: value
    if d[1]
      margin-{p[1]} -(d[1]/2)
    else
      margin-{p[1]} -(d[0]/2)

borders(b, t, c)
  if (b[0])
    border-top b[0] t c
  if (b[1])
    border-right b[1] t c
  if (b[2])
    border-left b[2] t c
  if (b[3])
    border-bottom b[3] t c

/*=====  End for Stylus functions  ======*/

/* Including fonts */
maintext()
  cbfont(crimsontext, georgia, tahoma)


/*=====================================
=            Control panel            =
=====================================*/
#controls
  background white
  opacity .4
  z-index 1

.fix-map
  display block
  height baseline*3
  nostyle()
  shd(0, 1px, 5px, 50px, 2px, rgba(0, 0, 0, 1))
  background white

#control-additional
  background scale-gray
  // height baseline*14
  padding baseline

/*----------  Planes and targets articles  ----------*/
.targets, .planes
  padding 0 0 baseline 0

/*----------  Planes and targets sections  ----------*/
// #planes, #targets
//   border 1px solid forest-wolve[1]

/*----------  Sections main titles  ----------*/
.main-titles
  h1
    font-style(center, 1.3em, normal, 1.3em)
    margin 5px 0 0px 0 // Mat.round(baseline/4);
    padding 3px // baseline/6
    border-bottom 1px solid forest-wolve[0]
    color blackberry-pearl[0]
    maintext()

.plane-title, .targets-title
  font-style(center, .8em, normal, 1.2em)
  cursor pointer
  color blackberry-pearl[0]
  maintext()

.amount-slider
  position relative

.toddler-slider
  cursor default
  height baseline*2
  position relative
  z-index 0

.toddler-line
  display block
  alvert(100% 2px, top)
  border-radius baseline
  background forest-wolve[0]
  z-index 1

.toddler
  cursor pointer
  alvert(20px, top)
  display block
  content ''
  background white
  shd(0, 0px, 0px, 5px, 0px, shad)
  border 1px solid gainsboro
  border-radius 50%
  transition transform .3s
  transform translateX(0)
  z-index 5

.amount
  alvert(baseline*2, top)
  font-style(center, 1em, italic, baseline*1.7)
  color blackberry-pearl[0]
  line-height baseline*2

.targets-amount, .planes-amount
  alvert(baseline*2, top left)
  top 78%
  cursor pointer
  font-style(center, 1em, italic, baseline*1.7)
  color blackberry-pearl[0]
  line-height baseline*2
  border-radius 50%
  border baseline/6 solid blackberry-pearl[0]

/*====================================
=            Icons styles            =
====================================*/

svg
  display block

.takeoff
  size(3em)

.targets-icons, .svg-blocks
  height baseline*7

.load-icon
  height baseline*2.5

.load-circle
  stroke blue-black
  pointer-events all
  &:hover
    stroke white

.load-triangles
  stroke blue-black


/*=====  End of Icons styles  ======*/

/*=======================================
=            Loading scripts            =
=======================================*/

.algorithms
  cursor pointer
  height baseline*10
  overflow-y scroll
  shd(1, 1px, 1px, 0px, 5px, blue-black)
  article
    &:last-child
      border-bottom none
    &:first-child
      border 1px solid mint[1]

#load-form
  &:hover
    margin-top -3px // -baseline/6
    shd(0, 2px, 2px, 15px, 0px, blue-black)

.load-title
  font-style(center, 1.3em, normal, baseline*2.5)
  color blue-black
  font-weight 500

/*----------  Hide input[type="file"]  ----------*/
#upload-file
  display none

.input-file-trigger
  display block
  cursor pointer
  line-height baseline*2.5
  background brill-blue[0]
  shd(0, 1px, 0px, 3px, 0px, blue-black)

.ready-algorithm
  font-style(left, .7em, normal, baseline*3)
  color blackberry-pearl[1]
  // border-left 1px solid mint[1]
  // border-right 1px solid mint[1]
  // border-bottom 1px solid mint[1]
  borders(0 1px 1px 1px, solid, mint[1])
  // border 1px solid forest-wolve[0]
  &:hover
    background forest-wolve[1]

.algorithm-script
  cursor pointer

.hidden
  display none

#active-algorithm
  position relative
  color brill-blue[0]
  background mint[1]
  border 1px solid transparent
  .state
    size(baseline)
    alvert(baseline/2, top)
    background brill-blue[0]
    border-radius 50%

.choosen-file
  height baseline*2

.chose
  background shamrock[0]
  color blue-black

.file-name
  border 1px solid blue-black
  color blue-black
  transition opacity tm
  font-style(center, 1em, normal, baseline*2)

/*=====  End of Loading scripts  ======*/


/*=====  End for Control panel  ======*/

#footing
  position relative
  height baseline*30