.area {
  width: 128px;
  height: 128px;
}

.defence {
  width: 128px;
  height: 128px;
}

.dotes {
  width: 128px;
  height: 128px;
}

.isr {
  width: 128px;
  height: 128px;
}

.load {
  width: 128px;
  height: 128px;
}

.place-based {
  width: 128px;
  height: 128px;
}

.planes {
  width: 128px;
  height: 128px;
}

.rus {
  width: 128px;
  height: 128px;
}

.trajectory {
  width: 128px;
  height: 128px;
}

.usa {
  width: 128px;
  height: 128px;
}

