include mixins.jade
- var quantity = 3, types = ['Тяжелые', 'Средние', 'Малые']
- var cType = ['hard', 'middle', 'light']
- var country = ['usa', 'isr', 'rus']
- var hardDrones = ['RQ Global Hawk', 'Hermes', 'Альтиус-М']
- var chs = ['Дальность, км', 'Скорость, км/ч', 'Продолжительность полёта, ч']
- var chsTitle = ['range', 'speed', 'endurance']
- var chsValues = [[22779, 575, 32], [4000, 222, 36], [10000, 300, 48]]
section.row.span-20.drones
  header.drones-main-head.span-16.offset-2
    h1 Выбрать типы беспилотников
  section.span-10.offset-5.drone-types
    +buildDrones('hard-drones', 'hd-header', 'Тяжелые', ['RQ Global Hawk', 'Hermes', 'Альтиус-М'], 'sub-drones sdr-', 'sub-headers', 'drones-names', 'Выбрать', ['usa', 'isr', 'rus'], 'hard', 'hard-drone-', 'chars', 'chars-header', 'Технические характеристики', 'common-chars', 'common-chars-title', 'chars-values', ['Дальность, км', 'Скорость, км/ч', 'Продолжительность полёта, ч'], ['range', 'speed', 'endurance'], [[22779, 575, 32], [4000, 222, 36], [10000, 300, 48]])
    +buildDrones('middle-drones', 'md-header', 'Средние', ['GA ALTUS', 'Harpy', 'Дозор-85'], 'sub-drones sdr-', 'sub-headers', 'drones-names', 'Выбрать', ['usa', 'isr', 'rus'], 'middle', 'middle-drone-', 'chars', 'chars-header', 'Технические характеристики', 'common-chars', 'common-chars-title', 'chars-values', ['Дальность, км', 'Скорость, км/ч', 'Продолжительность полёта, ч'], ['range', 'speed', 'endurance'], [[735, 130, 24], [400, 250, 3], [900, 150, 8]])
    +buildDrones('light-drones', 'lt-header', 'Малые', ['RQ-11 Raven', 'MicroB', 'Типчак'], 'sub-drones sdr-', 'sub-headers', 'drones-names', 'Выбрать', ['usa', 'isr', 'rus'], 'light', 'light-drone-', 'chars', 'chars-header', 'Технические характеристики', 'common-chars', 'common-chars-title', 'chars-values', ['Дальность, км', 'Скорость, км/ч', 'Продолжительность полёта, ч'], ['range', 'speed', 'endurance'], [[10, 95, 1], [10, 85, 1], [40, 198, 2]])