<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/main.css")
  body
    #container
      #dynamic-map.span-20
      #staticclear-map.span-20
      canvas#polygon.span-20
      #controls.span-20
        //- button.fix-map.span-3.offset-17 Зафиксировать
      //- Empty block with fixed height
      #footing.span-20
      #control-additional.span-20
        section.span-8.plane-amount
          header.plane-title.span-16.offset-2 Количество беспилотников
          .amount-slider.span-16.offset-2
            .toddler-slider.span-16.offset-2
              .toddler.span-20
              .toddler-line.span-20
            .amount.span-2 1
        include target.jade
      script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
    //- script(charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=LE2-tT0xONYT3Xe7H1BEaMsTRkAmwZB2&width=1200&height=545&lang=ru_RU&sourceType=constructor")
    script(src="js/all.js")