include mixins.jade
- var algoTitles = ['111', 'Путь лапласианина - wayLaplasianin.js', 'Веселые будни - happyWeekdays.js', 'Весёлый пуританин - happyPuritanin.js'];
- var acceptFiles = ['application/x-javascript', 'application/javascript', 'application/ecmascript','text/javascript','text/ecmascript'];
section(class="span-8 offset-2 row" id="loading-scripts" onselectstart="return false")
  header.span-16.offset-2.algorithm-main-title
    h1 Алгоритмы
  section.algorithms.span-20
    - for(var i = 0; i <= 0; i++)
        - if (i === 0)
            article(class="ready-algorithm span-20 algorithm-"+(i) + ' hidden' hidden="true" id="active-algorithm")
              header.algorithm-script.span-16.offset-1
                h3.algorithm-title.span-18.offset-1= algoTitles[i]
              .state.span-2.offset-2
        - else
            article(class="ready-algorithm span-20 algorithm-"+(i+1))
              header.algorithm-script.span-16.offset-1
                h3.algorithm-title.span-18.offset-1= algoTitles[i]
              .state.span-2.offset-1
  header.load-scripts-title.span-20
    form(action="/upload" enctype="multipart/form-data" method="POST" id="upload-form" class="span-20")
      input(type="file" id="upload-file" accept = acceptFiles  multiple="multiple" name="file")
    label(for="upload-file" class="input-file-trigger span-4 offset-8")
      h2(class="load-title span-12 offset-4")
      +icon('load', 'load', ['span-20', 'span-20'], 'Загрузка алгоритмов')
  .choosen-file.span-20
    p.file-name.span-20 Загружать только файлы с расширением '.js\!
    // input(type="button" onclick="start()" value="test" id='test-button')