section.span-8#plane-amount
  .amount-slider.span-16.offset-2
    .toddler-slider.planes-slider.span-16.offset-2
      .toddler.planes-toddle.span-20
      .toddler-line.planes-toddler-line.span-20
    .amount.planes-amount.span-2 1
  header.plane-title.span-16.offset-2 Количество беспилотников