include mixins.jade
section(class="span-20 row" id="switches" onselectstart="return false")
  input(id="switch" class="span-5 offset-5 row" type='button' value="Переключиться на холст")
  input(id="simulate" class="span-5" type='button' value="Моделировать")